# Core functionality - changes here should be rare!
/src/app.py                   @azurejoga
/src/backend/database.py      @azurejoga
/src/backend/routers/auth.py  @azurejoga

# The frontend will need refactored soon to be more object oriented.
/src/static/   @azurejoga
